@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #e15f41;
}

.navbar .navbar-brand {
    font-weight: 400;
    color: white;
    padding: 20px;
}

.navbar nav {
    display: flex;
    justify-content: end;
}

.navbar nav .nav-link {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.navbar nav .nav-link.active {
    color: #e15f41;
    background-color: white;
}

.carousel-inner img {
    width: 100%;
    height: 500px;
}

.section_rosa_claro {
    background-color: bisque;
}

#intro_restaurante {
    padding-top: 35px;
    padding-bottom: 35px;
}

.section_title {
    font-family: "Pacifico", cursive;
}

.section_title span {
    color: #e15f41;
}

#eventos h2 {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.text_colored {
    padding-top: 10px;
    color: #e15f41;
    font-size: 25px;

}

#cardapio h2 {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

#cardapio #tab_cardapio {
    display: flex;
}

#cardapio #tab_cardapio .nav {
    display: block;
    margin-right: 20px;
}

#cardapio #tab_cardapio .nav .nav-link {
    font-size: 13px;
    font-weight: bold;
    color: #e15f41;
}

#cardapio #tab_cardapio .nav .nav-link.active {
    background-color: #e15f41;
    color: white;
}

#formulario h2 {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

#formulario .container {
    padding-top: 35px;
    padding-bottom: 35px;
}

#formulario button {
    background-color: #e15f41;
    color: white;
    font-weight: bold;
    margin-top: 8px;
    padding: 6px 30px;
    border-radius: 20px;
}

#formulario .form-check-input:checked {
    background-color: #e15f41;
}

#formulario form label {
    color: #e15f41;
    font-weight: bold;
}

#formulario form textarea {
    resize: none;
}

.redes_sociais nav ul li {
    display: inline;
    padding-right: 5px;
}

.redes_sociais nav ul li a {
    color: #e15f41;
}












@media screen and (max-width: 1200px) {
    .navbar .container {
        display: flex;
    }

    .navbar .container button {
        background-color: white;
    }

    .navbar .container nav .nav-pills {
        display: block;
        margin: auto;
        width: 100%;
    }
}




@media screen and (max-width: 700px) {
    .navbar .container {
        display: flex;
    }

    .navbar .container button {
        background-color: white;
    }

    .navbar .container nav .nav-pills {
        display: block;
        margin: auto;
        width: 100%;
    }

    .carousel-inner img {
        width: 100%;
        height: 300px;
    }

    #cardapio #tab_cardapio {
        display: inline;
    }
    
    #cardapio #tab_cardapio .nav .nav-link {
        display:inline-block;
    }

    #formulario .container .row .segunda_parte {
        margin-top: 70px;
        border-top: 1px solid black;
        background-color: bisque ;
        
    }

    #formulario .container {
        padding-bottom: 0px;
    }

    
    
}

